.normalize {
    padding: 0;
    margin: 0;
    background-color: #FFDAB9;
    height: 100%;
    background: bisque;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.navigation {
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}
.big-header {
    background-color: bisque;   
    width: 100%;
}
.main {
    background-color: #FFDAB9;
    display: inline-block;
    width: 100%;
    height: 40%; 
}
.image {
    border-radius: 50%;
    width: 20%;
    display: inline-block;
}
.about_me {
    font-size: 30px;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 1rem;
    margin: 0;
}
.about_me-content{
    max-width: 800px;
    margin: 0;
}
.skills {
    background-color: bisque;
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
}
.info {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-size: 1em;
}
.contact {
    justify-content: center;
    background-color: #FFDAB9;
    width: 100%;
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
}
.footer {
  background-color: bisque;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.image_footer {
    border-radius: 50%;
    width: 10%;
    display: inline-block;
    max-width: 100px;
    min-width: 100px;
}
.image_footer2 {
    border-radius: 50%;
    width: 25%;
    display: inline-block;
    max-width: 100px;
    min-width: 100px;
}
